@namespace RockPaperScissors
@inherits RootPanel

<style>
    UI {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .title {
        color: white;
        font-family: 'Comic Sans MS';
        font-size: 128px;
        text-stroke: 15px black;
        text-shadow: 12px 12px 10px black;
        z-index: 9999;
    }
    Icon {
        position: absolute;
        height: @Length.Pixels( 50f / RockPaperScissors.Game.Zoom );
        width: @Length.Pixels( 50f / RockPaperScissors.Game.Zoom );
        font-size: @Length.Pixels( 40f / RockPaperScissors.Game.Zoom );
        text-align: center;
    }
</style>

<root>
    <label class="title">
        @(RockPaperScissors.Game.Winner == null ? "" : $"{RockPaperScissors.Game.Winner.ToString().ToUpper()} WINS")
    </label>
</root>

@code
{
    protected override int BuildHash()
    {
        return HashCode.Combine(Time.Now);
    }
}